In [1]:
# Cell 1: Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import shap

# Machine Learning Libraries
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold, KFold
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, IsolationForest
from sklearn.cluster import KMeans
from sklearn.metrics import classification_report, confusion_matrix, mean_squared_error, r2_score
from sklearn.compose import ColumnTransformer

# Imbalanced Learning (For Objective A)
from imblearn.pipeline import Pipeline as ImbPipeline
from imblearn.over_sampling import SMOTE

# Pipeline for Regression (Standard sklearn pipeline)
from sklearn.pipeline import Pipeline

import warnings
warnings.filterwarnings('ignore')

print("✅ Libraries Imported Successfully")

✅ Libraries Imported Successfully

In [2]:
# Cell 2: Load Data
# Assuming the file is named 'loan_dataset.csv' or 'loan_dataset.xlsx'
try:
    df = pd.read_csv('loan_dataset.csv')
except:
    df = pd.read_excel('loan_dataset.xlsx')

print(f"Dataset Shape: {df.shape}")
df.head()

Dataset Shape: (20000, 33)

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,TotalLiabilities,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2018-06-18,37,36562,553,Employed,High School,14,38934,48,Married,...,9589,49.207,4,2603208,257.434,22.178,1230.4,6.605,1,42.4
1,2054-02-27,77,84454,676,Unemployed,Bachelor,55,9856,36,Divorced,...,20691,9.744,6,2598936,156.856,1.482,3408.1,14.462,1,30.4
2,2059-01-20,36,55540,614,Employed,High School,11,21670,12,Married,...,33311,8.786,3,2108279,17.967,21.558,2023.5,5.968,1,34.4
3,2042-09-07,28,88051,523,Employed,Associate,7,17982,36,Married,...,24934,8.834,1,2106873,241.482,27.021,734.3,20.842,1,33.6
4,2032-01-08,23,21775,581,Employed,Bachelor,3,67419,36,Married,...,34883,674.315,5,2088949,261.919,2.613,2721.1,1.820,0,44.0